W03_CreateML/datasets
W03_CreateML/models
**/.DS_Store
W03_CreateML/app/DogBreedClassifierApp/Info.plist
W04_3rdParty_Models/ImageClassificationApp/ImageClassificationApp/Models
W05_ChatGPT/CarHelp/CarHelp/Secrets.swift